:root {
    --cpu_color: #d9ad5b;
    --gpu_color: #593a1e;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'roboto_thin';
    src: url('/fonts/roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'roboto_bold';
    src: url('/fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'roboto_black';
    src: url('/fonts/roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'roboto_light';
    src: url('/fonts/roboto/Roboto-Light.ttf');
}

html, body {
    position: relative;
    width: 640px;
    height: 640px;
    padding: 0;
    margin: 0;
    background-color: white;
    background-image: url('/img/ION_paper_800px.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    font-family: roboto;
    color: black;
}

#svg {
    position: fixed;
    top: 0;
    left: 0;
}
